<h1>employees</h1>
 <table>
   <thead>
     <tr>
       <th>name</th>
       <th>empid</th>
       <th>salary</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |emp| %>
    <tr>
      <td>emp.name</td>
      <td>emp.empid</td>
      <td>emp.salary</td>
      <td><%= link_to 'show',emp%></td>
      <td><%= link_to 'edit', edit_employee_path(emp) %></td>

  </tr>
  <% end %>
</tbody>
</table>
<%= link_to 'New Employee' ,new_employee_path %>
